<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="Jayda's Nail Designs" content="width=device-width, initial-scale=1.0" />
    <meta description="Jayda's custom nail gallery, I post all my work here and sell many custom press on nails." />
    <meta keywords="Press On Nails, Pressons, Nails, Custom Nails, Jaydas Nails, Nails, Cheap Nails" />
    <title>Jayda's Nails - @ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <environment include="Testing,Staging,Development">
        <div class="warning"><h1>You are currently in a testing environment</h1></div>

    </environment>

    @RenderSection("PageIntro", required: false)

    <header class="Main-Header" id="main-header">
        <div class="Main-Header-Body same-line">

            <div class="title-container same-line">
                <a class="Title same-line" id="title" href="/">My nails!</a>
                <a id="upperCheckout" class="checkout-icon header-section same-line" href="/checkout">Chec</a>
            </div>


            <div class="nav-links same-line">

                <div class="dropdown same-line">
                <p class="same-line dropbtn header-section">Category<span class="drop-v"> v</span></p>
                <div class="dropdown-content">
                <a href="/nails/popular">Popular Designs</a>
                <a href="/nails/classic">Classic Designs</a>
                <a href="/nails/anime">Anime</a>
                <a href="/nails/animals">Cute Animals</a>
                <a href="/nails/cute">Cute Nails</a>
                </div>
                </div>

              <div class="dropdown same-line">
                    <p class="same-line dropbtn header-section">Color<span class="drop-v"> v</span></p>
                 <div class="dropdown-content">
                    <a href="/nails/white">White</a>
                        <a href="/nails/black" >Black</a>
                        <a href="/nails/pink" style="color:deeppink">Pink</a>
                        <a href="/nails/purple" style="color:mediumpurple">Purple</a>
                        <a href="/nails/blue" style="color:mediumblue">Blue</a>
                        <a href="/nails/green" style="color:green">Green</a>
                        <a href="/nails/yellow" style="color:#CCD200">Yellow</a>
                   </div>
                 </div>
            </div>

            <div class="dropdown same-line">
                <p class="same-line dropbtn header-section">Social Media<span class="drop-v"> v</span></p>
                <div class="dropdown-content">
                    <a href="https://instagram.com/jaydafrog?igshid=MzRlODBiNWFlZA==">Instagram</a>
                    <a href="https://www.tiktok.com/@@jaydaluvdabi?_t=8dMdNu9N3CU&_r=1">TikTok</a>
                    <a href="/nails/black">Whatever Else</a>
                    <a href="/nails/black">1 more?</a>
                </div>
            </div>
        </div>


        <a id="lowerCheckout" class="checkout-icon header-section" href="/checkout">Chec</a>

    </header>

    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

</body>


</html>
