@font-face {
    font-family: 'balonku-regular';
    src: url('font familys/balonku-regular.otf') format('opentype');
}
@font-face {
    font-family: 'motley-forces';
    src: url('font familys/motleyforcesregular-w1rz3.ttf') format('truetype');
}
* {
    margin: 0px;
}

body {
    font-family: 'Lato','Gabriola','Comic Sans MS';
}
.Main-Header {
    width: 98.5vw;
    height: 6vw;
    padding: 0px 0px 0px 0px;
    background-color: #fef6ffff;
    border: 10px solid #b0a0e6;
    border-radius: 0px 0px 40px 40px;
    position: -webkit-sticky; /* for Safari users */
    position: sticky;
    z-index: 100;
    box-shadow: 2.0px 10.0px 8.0px hsl(0deg 0% 0% / 0.22);
    top: 0.5px;
}
.Main-Header-Body {
    padding: 0.5% 0% 0px 1%;
    border-radius: 5px;
}

.Main-Header-Body a{
    text-decoration: none;
}
.Title {
    text-decoration: none;
}
.Search-Bar{
    
}
#title {
    text-shadow: 1px 1px black;
    color: #b0a0e6 !important;
    font-family: 'motley-forces';
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 5px;
}
.same-line{
    display:inline-block;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content a {
    color: #52408f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    border-bottom: 2px dashed black;
    min-width: 7vw;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 3vmin;
    font-family: motley-forces, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}


    .dropdown-content a:hover {
        color: hotpink;
    }

    .dropdown a:hover, .dropdown:hover .dropbtn {
        background-color: white;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.header-section {
    color: #e457a9;
    padding: 0px 1vmin 0px 1vmin;
    font-size: 2.5vw;
    font-family: motley-forces, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    text-shadow: 1px 1px black;
}

    .header-section:hover {
        color: hotpink;
        background-color: #f9f9f9;
    }

.nav-links{
    margin-left: 2vmin;
}

.drop-v{
    color: #b0a0e6;
    font-size: 1.5vmin;
}

.checkout-icon {
    display: inline;
    color: #b0a0e6;
}
#upperCheckout {
    visibility: hidden;
    font-size: 0px;
}
@media only screen and (max-width: 2069px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        margin-left: 0vmin;
    }
    #title {
        font-size: 6vw;
        letter-spacing: 0px;
        padding-right: 0px;
        margin-right: 0px;
    }
    #lowerCheckout {
        visibility: visible;
    }

    #upperCheckout {
        visibility: hidden;
        font-size: 0px;
    }
    .Main-Header {
        height: 8vw;
        width: 95vw;
    }

    .header-section {
        letter-spacing: 0px;
        font-size: 3.5vw;
    }

}

@media only screen and (max-width: 800px) {
    body{
        overflow-x:hidden;
    }
    .nav-links {
        margin-left: 0vmin;
    }
    #title {
        font-size: 10vw;
        letter-spacing: 0px;
    }
    #lowerCheckout {
        visibility: hidden;
        font-size: 5vw;
    }
    #upperCheckout {
        visibility: visible;
        font-size: 5vw;
    }
    .title-container {
        display: block !important;
    }
    .Main-Header {
        height: 20vw;
    }

    .header-section {
        letter-spacing: 0px;
        font-size: 5vw;
    }
}
@media only screen and (max-width: 530px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        margin-left: 0vmin;
    }
    #title {
        font-size: 12vw;
        letter-spacing: 0px;
    }
    #lowerCheckout {
        visibility: hidden;
        font-size: 0px;
    }
    #upperCheckout {
        visibility: visible;
        font-size: 5vw;
    }
    .title-container {
        display: block !important;
    }

    .Main-Header {
        height: 25vw;
    }

    .header-section {
        letter-spacing: 0px;
        font-size: 6.2vw;
    }
}