@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>Oops...sorry!</h1>

<p> This dosen't normally happen, if you are seeing this and think something went wrong please email so I can get it fixed as soon as possible, thank you!!</p>
<p>My email: JaydasNails@techsters.org</p>


<p>All error logs are recorded so this should be fixed relatively soon without contacting me, but please make sure to send me an email if it's needed.</p>